@import './vars';
@import './banner';

footer {
    @include banner(2rem);
    flex-direction: row;
    justify-content: space-around;;
    padding: 0;
    width: 100%;
    background-color: #1c1c1d;
    div {
      margin-left: 2%;
      margin-right: 2%;
      
    }
    
    .networks {
      width: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
        transition: all 0.3s ease 0s;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
      img {
        width: 1rem;
        transition: all 0.3 ease;
      }
    }
  }
  
  small p {
    font-family: $quicksand;
    color: #ecf0f185;
    text-align: center;
    font-size: 1rem;
  }