@import './header';

@media screen and (max-width: 1024px) {
    .nav-links {
      @include flexAround();
      width: 50%;
      li {
        a {
          font-size: 1.2rem;
        }
      }
    }

    .landing {
      background-image: url(../../img/notebook-main.png);
      background-size: cover;
    }
  
    .banner-container {
      height: 85vh;
      padding: 20% 0 0 3%;
    }

    .banner-container-products {
      height: 18rem;
    }

    .btn-subscribe {
      padding: 17px 40px;
      font-size: 1.7rem;
      background-color: rgba(255, 255, 0, 0);
      border: 2px solid $textColorSecondary;
      color: $textColorSecondary;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: $btnColor;
        border: 2px solid $btnColor;
        color: $textColorPrimary;
      }
    }
  
    .banner {
      width: 45rem;
      height: 30rem;
    }
  
    .h1-landing {
      font-size: 7.4rem;
    }
  
    .p-landing {
      font-size: 0.9rem;
    }

    #map {
      height: 43vh;
    }

    .container- {
      height: 70vh;
      padding: 0px 3% 7% 3%;
    }

    .contact-cont {
      height: 13rem;
      padding: 2% 2% 0 1%;
    }

    .nosotros-banner {
      h1 {
        font-size: 2rem;
        margin-top: 0;
      }
    }

    .intro {
      height: 37rem;
      img {
        object-fit: cover;
      }
    }

    .intro2 {
      height: 41rem;
    }
  
    .intro-title {
      height: 5.2rem;
    }

    .banner-mid-nosotros {
      h4 {
        font-size: 1rem;
        line-height: 3rem;
        margin-top: 12px;
        padding: 0 3% 0 3%;
      }
    }

  }