@import './header';

@media screen and (max-width: 992px) {
    .nav-links {
      @include flexAround();
      width: 50%;
    }

    .landing {
      background-image: url(../../img/pexels-junior-teixeira-2047hh905.png);
      background-size: cover;
    }
  
    .banner-container {
      padding: 10% 0 0 3%;
    }
  
    .banner {
      width: 38rem;
      height: 20rem;
    }
  
    .h1-landing {
      font-size: 5rem;
    }
  
    .p-landing {
      font-size: 0.9rem;
    }

    #map {
      height: 60vh;
    }

    .container- {
      padding: 0px 3% 7% 3%;
    }

    .contact-cont {
      height: 21vh;
      padding: 2% 0 0 3%;
    }
  
  }