$textColorPrimary: #39393b;
$textColorSecondary: #ecf0f1;
$cardPrimary: #303032;
$btnColor: #ffff00;
$burgerColor: #ecf0f1be;
$quicksand: "Quicksand", sans-serif;
$montserrat: "Montserrat", sans-serif;