@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import "./vars";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.landing {
  background-image: url(../../img/notebook-main.png);
  background-size: cover;
  min-height: 100%;
}

.body-products {
  background-image: url(../../img/future2.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.body-background {
  background-color: $textColorPrimary;
}

video {
  width: 100%;
  z-index: 3;
  object-fit: cover;
}

.absolute {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 4;
}

.body-contact {
  background-image: url(../../img/future1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container- {
  height: auto;
}

.animate__animated.animate__backInUp {
  --animate-delay: 0.9s;
}

@import "./vars";
@import "./header";
@import "./banner";
@import "./card-products";
@import "./footer";
@import "./laptop";
@import "./tablet";
@import "./mobile";
