@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

.landing {
  background-image: url(../../img/notebook-main.png);
  background-size: cover;
  min-height: 100%;
}

.body-products {
  background-image: url(../../img/future2.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.body-background {
  background-color: #39393b;
}

video {
  width: 100%;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}

.absolute {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 4;
}

.body-contact {
  background-image: url(../../img/future1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container- {
  height: auto;
}

header {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  padding: 20px 0%;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  z-index: 1;
}

.navbar-brand {
  display: none;
}

.logo-desktop {
  width: 8rem;
}

.logo {
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.navbar-brand {
  font-family: "Quicksand", sans-serif;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

.nav-links a {
  color: #39393b;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 0.875rem;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav-links a:hover {
  color: #ffff00;
}

.products-nav a {
  color: #ecf0f1;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #39393b;
  margin: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login-desktop {
  padding: 9px 25px;
  background-color: #f4f749;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.login-desktop:hover {
  background-color: rgba(244, 247, 73, 0.8);
}

.login-mobile {
  display: none;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 80vh;
  padding: 6% 0 0 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6% 0 0 3%;
  align-items: flex-start;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38rem;
  height: 20rem;
}

.typing {
  position: relative;
  margin-left: 20px;
}

.typing::after {
  content: "";
  position: absolute;
  right: -10px;
  width: 1px;
  height: 35%;
  border-right: 2px solid #ecf0f1;
  -webkit-animation: blink 0.5s infinite ease;
          animation: blink 0.5s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner-container-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 35vh;
  padding: 6% 0 0 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6% 0 0 3%;
}

.banner-container-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 20vh;
  padding: 6% 0 0 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.banner-products {
  width: 70%;
  height: auto;
}

.h1-products {
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
  color: #ecf0f1;
}

.h1-contact {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
  color: #ecf0f1;
}

.h1-nosotros {
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
  color: #ecf0f1;
  line-height: 7rem;
}

.p-products {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 30px;
  color: #ecf0f1;
}

.p-landing {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #ecf0f1;
}

.contact-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 20vh;
  padding: 6% 0 0 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0 0 3%;
}

.nosotros-banner {
  height: 70vh;
}

.banner-mid-nosotros {
  height: auto;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-mid-nosotros img {
  width: 100%;
  z-index: 4;
  position: relative;
}

.banner-mid-nosotros h4 {
  z-index: 5;
  position: absolute;
  font-size: 2rem;
  color: #ecf0f1;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 45rem;
  margin-top: 20px;
}

.intro-title {
  text-align: center;
  padding: 1% 0 0 0;
  height: 15vh;
  margin-bottom: 1%;
}

.intro-title h2 {
  font-size: 3rem;
  color: #39393b;
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5%;
}

.intro-content img {
  width: 40%;
  border-radius: 8px;
}

.intro-content-two {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.intro-text {
  width: 40%;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  padding: 2% 3% 0 3%;
}

.intro-text h3 {
  font-size: 2rem;
  opacity: 0.6;
}

.intro-text p {
  font-size: 1.2rem;
  opacity: 0.5;
}

.intro-appear-scroll {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.container- {
  padding: 0px 3% 7% 3%;
}

.subscribe-button-container {
  width: 44rem;
  height: 14rem;
}

.h1-landing {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 7rem;
  color: #ecf0f1;
}

.btn-subscribe {
  padding: 9px 25px;
  background-color: rgba(255, 255, 0, 0);
  border: 2px solid #ecf0f1;
  color: #ecf0f1;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-subscribe:hover {
  background-color: #ffff00;
  border: 2px solid #ffff00;
  color: #39393b;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr (minmax(auto, 60px))[12] 0.5fr;
      grid-template-columns: 0.5fr repeat(12, minmax(auto, 60px)) 0.5fr;
  -ms-grid-row: 40;
  grid-row: 40px;
  padding: 60px 0;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.text--info {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  line-height: 20px;
  color: #ecf0f1;
}

.text-info {
  color: #a8a6a6;
}

h6.text--info {
  font-size: 0.6rem;
}

h6.text--info:hover {
  color: #ffff00;
}

.cards {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2 / span 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 60px))[12];
      grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card- {
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #39393b;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.card__image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card__image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__content {
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__price {
  margin-left: auto;
  padding: 5px 20px;
  margin-top: 10px;
  background-color: #303032;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__price:hover {
  background-color: #ffff00;
  color: #303032;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 80vh;
  padding: 6% 0 0 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6% 0 0 3%;
  align-items: flex-start;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38rem;
  height: 20rem;
}

.typing {
  position: relative;
  margin-left: 20px;
}

.typing::after {
  content: "";
  position: absolute;
  right: -10px;
  width: 1px;
  height: 35%;
  border-right: 2px solid #ecf0f1;
  -webkit-animation: blink 0.5s infinite ease;
          animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner-container-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 35vh;
  padding: 6% 0 0 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6% 0 0 3%;
}

.banner-container-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 20vh;
  padding: 6% 0 0 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.banner-products {
  width: 70%;
  height: auto;
}

.h1-products {
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
  color: #ecf0f1;
}

.h1-contact {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
  color: #ecf0f1;
}

.h1-nosotros {
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
  color: #ecf0f1;
  line-height: 7rem;
}

.p-products {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 30px;
  color: #ecf0f1;
}

.p-landing {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #ecf0f1;
}

.contact-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 20vh;
  padding: 6% 0 0 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0 0 3%;
}

.nosotros-banner {
  height: 70vh;
}

.banner-mid-nosotros {
  height: auto;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-mid-nosotros img {
  width: 100%;
  z-index: 4;
  position: relative;
}

.banner-mid-nosotros h4 {
  z-index: 5;
  position: absolute;
  font-size: 2rem;
  color: #ecf0f1;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 45rem;
  margin-top: 20px;
}

.intro-title {
  text-align: center;
  padding: 1% 0 0 0;
  height: 15vh;
  margin-bottom: 1%;
}

.intro-title h2 {
  font-size: 3rem;
  color: #39393b;
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5%;
}

.intro-content img {
  width: 40%;
  border-radius: 8px;
}

.intro-content-two {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.intro-text {
  width: 40%;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  padding: 2% 3% 0 3%;
}

.intro-text h3 {
  font-size: 2rem;
  opacity: 0.6;
}

.intro-text p {
  font-size: 1.2rem;
  opacity: 0.5;
}

.intro-appear-scroll {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.container- {
  padding: 0px 3% 7% 3%;
}

.subscribe-button-container {
  width: 44rem;
  height: 14rem;
}

.h1-landing {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 7rem;
  color: #ecf0f1;
}

.btn-subscribe {
  padding: 9px 25px;
  background-color: rgba(255, 255, 0, 0);
  border: 2px solid #ecf0f1;
  color: #ecf0f1;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-subscribe:hover {
  background-color: #ffff00;
  border: 2px solid #ffff00;
  color: #39393b;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 2rem;
  padding: 6% 0 0 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  width: 100%;
  background-color: #1c1c1d;
}

footer div {
  margin-left: 2%;
  margin-right: 2%;
}

footer .networks {
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .networks a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0.5;
}

footer .networks a:hover {
  opacity: 1;
}

footer .networks img {
  width: 1rem;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

small p {
  font-family: "Quicksand", sans-serif;
  color: #ecf0f185;
  text-align: center;
  font-size: 1rem;
}

header {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  padding: 20px 0%;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  z-index: 1;
}

.navbar-brand {
  display: none;
}

.logo-desktop {
  width: 8rem;
}

.logo {
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.navbar-brand {
  font-family: "Quicksand", sans-serif;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

.nav-links a {
  color: #39393b;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 0.875rem;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav-links a:hover {
  color: #ffff00;
}

.products-nav a {
  color: #ecf0f1;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #39393b;
  margin: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login-desktop {
  padding: 9px 25px;
  background-color: #f4f749;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.login-desktop:hover {
  background-color: rgba(244, 247, 73, 0.8);
}

.login-mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50%;
  }
  .landing {
    background-image: url(../../img/pexels-junior-teixeira-2047hh905.png);
    background-size: cover;
  }
  .banner-container {
    padding: 10% 0 0 3%;
  }
  .banner {
    width: 38rem;
    height: 20rem;
  }
  .h1-landing {
    font-size: 5rem;
  }
  .p-landing {
    font-size: 0.9rem;
  }
  #map {
    height: 60vh;
  }
  .container- {
    padding: 0px 3% 7% 3%;
  }
  .contact-cont {
    height: 21vh;
    padding: 2% 0 0 3%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    height: 100vh;
  }
  html {
    height: 100%;
  }
  .landing {
    background-image: url(../../img/pexels-junior-teixeira-2047hh905.png);
    background-size: cover;
  }
  nav {
    width: 100%;
    padding: 0px 0%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 8vh;
  }
  .logo {
    width: 4rem;
  }
  .navbar-brand {
    display: block;
  }
  .navbar-brand-desktop {
    display: none;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 100%;
    top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    background-color: #39393b;
    z-index: 5;
  }
  .nav-links a {
    color: #ecf0f1;
  }
  .nav-links li {
    opacity: 0;
  }
  .login {
    display: none;
  }
  .sign-up {
    margin-left: 5%;
  }
  .burger {
    display: block;
  }
  .burger div {
    background-color: #ecf0f1;
  }
  .banner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 76.1vh;
    padding: 0% 0 3% 3%;
  }
  .banner {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }
  .banner-container-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 37vh;
    padding: 0% 0 3% 3%;
  }
  .h1-products {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .p-products {
    font-size: 1rem;
    margin-top: 0px;
  }
  .banner-products {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }
  .subscribe-button-container {
    width: 100%;
    height: auto;
    padding: 0% 0 0% 6%;
  }
  .h1-landing {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 5.5rem;
    color: #ecf0f1;
    margin-bottom: 3rem;
  }
  .btn-subscribe {
    margin-top: 3rem;
  }
  .btn-subscribehover {
    background-color: #f4f749;
    border: 2px solid #ffff00;
  }
  small p {
    margin-top: 2rem;
  }
  .login {
    display: none;
  }
  .btn-login {
    display: block;
    padding: 9px 40px;
    background-color: rgba(255, 255, 0, 0);
    color: #ecf0f1;
    border: 2px solid #ecf0f1;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 40px;
  }
  .btn-login:hover {
    color: #39393b;
    background-color: #ffff00;
    border: 2px solid #ffff00;
  }
  .card- {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .main {
    grid-gap: 30px;
  }
  footer {
    height: 6rem;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #ecf0f1be;
}

.toggle .line2 {
  opacity: 0;
  background-color: #ecf0f1be;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background-color: #ecf0f1be;
}

.nav-color {
  background-color: #39393b;
}

.brand-color {
  color: #ecf0f1;
}

.footer-none {
  display: none;
  color: #39393b;
}

.hide-products {
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hide-banner {
  display: none;
}

.hide-banner-main {
  display: none;
}

@media screen and (max-width: 500px) {
  .landing {
    background-image: url(../../img/pexels-junior-teixeira-2047905.jpg);
    background-size: cover;
    min-height: 100%;
  }
  .logo {
    width: 3.5rem;
  }
  .banner-container-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30vh;
    padding: 0% 0 3% 3%;
  }
  .banner-container {
    height: 88vh;
    padding: 10% 0 0 3%;
  }
  .banner-container .banner {
    height: 10rem;
  }
  .nosotros-banner {
    height: 20vh;
  }
  .nosotros-banner h1 {
    font-size: 1rem;
    margin-top: 0;
    line-height: 2rem;
  }
  .h1-products {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: #ecf0f1;
    margin-bottom: 3rem;
  }
  .h1-landing {
    font-size: 4rem;
    color: #ecf0f1;
  }
  .typing::after {
    height: 70%;
  }
  .subscribe-button-container {
    padding: 35% 0 3% 3%;
  }
  .btn-subscribe {
    color: #ecf0f1;
    border: 2px solid #ecf0f1;
  }
  .banner-products {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }
  .hide-products {
    display: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .hide-banner {
    display: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .main {
    -ms-grid-columns: 10px (1fr)[6] 10px;
        grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / span 6;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card- {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .card__price {
    margin-left: auto;
    padding: 3px 10px;
    margin-top: 9px;
    background-color: #303032;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .card__price:hover {
    background-color: #ffff00;
    color: #303032;
  }
  .text--info {
    font-size: 0.4rem;
  }
  h6.text--info {
    font-size: 0.2rem;
  }
  .contact-cont {
    height: 18vh;
    padding: 3% 0 0 3%;
  }
  .intro {
    height: 65vh;
  }
  .intro2 {
    margin-top: 5px;
  }
  .intro-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-content img {
    width: 100%;
    border-radius: 0;
  }
  .intro-text {
    width: 100%;
    height: 13rem;
  }
  .intro-text h3 {
    font-size: 1rem;
  }
  .intro-text p {
    font-size: 0.8rem;
  }
  .intro-text2 {
    height: 15rem;
  }
  .intro-title {
    height: 3rem;
  }
  .intro-title h2 {
    font-size: 1.5rem;
  }
  .banner-mid-nosotros .h1-nosotros {
    margin-top: 0;
    line-height: 1.5rem;
  }
  .banner-mid-nosotros h4 {
    font-size: 1rem;
  }
  .footer {
    height: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */